#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 200px;
}

.sources {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--gray229);
  border-right: 1px dotted var(--gray126);
}

.result {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--gray242);
}

.layouts {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: var(--gray229);
  border-top: 1px dotted var(--gray126);
}
